.outside-click {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  z-index: 11;
  display: block;
  position: fixed;
  background: white;
  width: 500px;
  height: 430px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px hidden lightgray;
}
