.search-bar {
  position: relative;
  width: 35%;
}

.search-input {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 8px;
  padding-left: 40px;
  height: 35px;
}

.icon-search {
  position: absolute;
  fill: #FEB33C;
  width: 18px;
  height: auto;
  margin-top: 14px;
  margin-left: 14px;
}

.header-btn{
  position: relative;
  margin-top: 6px;
}