.search-bar {
  position: relative;
  width: 35%;
}

.search-input {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 8px;
  padding-left: 40px;
  height: 35px;
  width: 100%;
}

.icon-search {
  position: absolute;
  fill: #FEB33C;
  width: 18px;
  height: auto;
  top: 9px;
  left: 9px;
  
}